body {
    background-color: #0b0b0b;
    color: #cccccc;
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #e10600;
    border-bottom: 2px solid #550000;
    padding-bottom: 10px;
    margin-top: 0;
    margin-bottom: 20px;
}

h2, h3 {
    color: #e10600;
    margin: 16px 0 10px 0;
}

.module {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #1a1a1a;
    border: 1px solid #550000;
    border-radius: 6px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1a1a1a;
    font-size: 13px;
    table-layout: auto;
}

th, td {
    border: 1px solid #550000;
    padding: 6px 8px;
    text-align: left;
    vertical-align: top;
    color: #cccccc;
    word-break: break-word;
}

th {
    background-color: #550000;
    color: #ffffff;
    vertical-align: middle;
    line-height: 1.3;
    white-space: nowrap;
}

td.severity-critical {
    background-color: #ff0000;
    color: #ffffff;
    font-weight: bold;
}

td.script-output {
    padding: 0;
    border-left: 4px solid #e10600;
    border-radius: 4px;
    background-color: #111;
    max-width: 50vw;
    overflow-x: auto;
}

td.script-output pre {
    display: block;
    background-color: #111;
    padding: 8px 12px;
    margin: 0;
    white-space: pre-wrap;
    font-size: 13px;
    line-height: 1.5;
    overflow-x: auto;
    overflow-y: hidden;
    color: #ccc;
    border-radius: 4px;
    font-family: "Courier New", Courier, monospace;
    word-wrap: break-word;
    word-break: break-word;
    max-height: 300px;
}

pre {
    background-color: #111;
    padding: 8px 12px;
    white-space: pre-wrap;
    font-size: 13px;
    line-height: 1.5;
    border-left: 4px solid #e10600;
    overflow-x: auto;
    color: #ccc;
    border-radius: 4px;
    margin: 8px 0;
    font-family: "Courier New", Courier, monospace;
}

.footer {
    margin-top: 40px;
    font-size: 12px;
    color: #666;
    text-align: center;
}
.duration {
    text-align: right;
    color: #999;
    margin-top: 12px;
    font-size: 13px;
    font-family: "Courier New", Courier, monospace;
}

.duration strong {
    color: #fff;
    font-weight: bold;
}
.duration span {
    font-weight: normal;
}

